
@import "../../node_modules/foundation-sites/scss/foundation";
@include -zf-normalize;
@include foundation-flex-classes;
@include foundation-flex-grid;
html{
  font-size: 10px;
}
$font: 'Exo', sans-serif;
$color: #282828;
$colorRed: #ff6d6d;
$colorRedD: #ff5451;
body{
  font-family: $font;
  color: $color;
  font-weight: 400;
  *{
    outline: none;
  }
.header{
  height: 80rem;
  background: url("../img/bg.jpg") center no-repeat;
  background-size: cover;
  .header__container{
    text-align: center;
    .header__container__title{
      display: block;
      font-size: 6rem;
      font-weight: 100;
      text-align: center;
      margin-top: 0;
    }
    .header__container__play{
      width: 59px;
      height: 59px;
      background: url("../img/video-ico.png") center no-repeat;
      margin: 0 auto 40px auto;
    }
  }
  .button{
    min-width: 190px;
    height: 50px;
    text-align: center;
    font-size: 1.6rem;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    transition: .3s;
    &.btn-red{
      background-color: $colorRed;
      color: white;
      &:hover{
        background-color: $colorRedD;
        cursor: pointer;
      }
    }
  }
}
}